# Database
POSTGRES_USER=schrt
POSTGRES_PASSWORD=schrt_pass
POSTGRES_DB=schrt

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=submissions
MINIO_USE_SSL=false

# Backend
SECRET_KEY=super-secret-key-change-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=480
LINK_PREFIX=http://localhost:8000/s/
# APP_PORT=8000
FIRST_TEACHER_USERNAME=teacher
FIRST_TEACHER_PASSWORD=teacher
